* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Chewy', cursive;
    color: blueviolet;
    text-align: center;
    font-size: 4em;
    margin-top: 0px;
    padding-top: 20px;
}

body{
    text-align: center;
    height: 100vh;
}

div {
    display: flexbox;
    justify-content: center;
}

p {
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
}

button {
    font-family: 'Chewy', cursive;
    border-radius: 10px;
    opacity: 0.6;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 1;
    border-width: 5px black;
}

#exitButton {
    background-color: red;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
}

#checkButton {
    background-color:darkgreen;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

#nextButton {
    background-color:goldenrod;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
}

#resetButton {
    background-color:mediumpurple;
    font-size: 1.5em;
    color: #fff;
    padding: 5px;
}

h2 {
    font-family: 'Chewy', cursive;
    color:darkgreen;
    font-size: 50px;
    display: block;
}

#problemBox {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    font-size: 90px;
    width: 600px;
    margin: 0px auto 0px auto;
    color: black;
    font-weight: bold;
}

.problem-view {
    min-height: 260px;
}

#answer {
    font-size: 60px;
    width: 600px;
    text-align: center;
    width: 20%;
    border-radius: 10px;
    background-color:cornsilk;
}

label {
    display: inline-block;
    font-family: 'Chewy', cursive;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

#feedback {
    font-family: 'Chewy', cursive;
    font-size: 50px;
    width: 600px;
    margin-bottom: .6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: .4em;
    color: green;
    font-weight: bold;
    display: block;
}

select {
    font-family: 'Chewy', cursive;
    font-size: 2em;
    min-width: 20%;
    text-align-last: center;
    border-radius: 10px;
    background-color: bisque;
}


#resetButton, #exitButton {
    margin-top: 30px;
}

#resetButton {
    margin-right: 50px;
}

form {
    display: flex;
    font-size: 2em;
    justify-content: center;
}


/*Landing Page Elements*/

.menu-page {
    display: flex;
    flex-direction: column;
}

label.drill-options {
    display: inline-block;
    font-family: 'Chewy', cursive;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

#operation {
    font-size: 1.5em;;
}

.number-sel {
    display: inline-block;
    margin-top: 40px;
    
}

#largest-num,
#smallest-num {
    text-align: center;
    width: 20%;
    border-radius: 10px;
    background-color:bisque;
}

.menu-dir {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#start-button {
    display: inline-block;
    font-size: 1em;
    text-align: center;
    min-width: 40%;
    border-radius: 10px;
    background-color:crimson;
    margin-top: .5em;
    margin-bottom: 1em;

}

